/* Sa ove stranice na internetu sam stavila pozadinu na svoju stranicu. 
Ovu pozadinu sam također stavila na svaku svoju stranicu da bi izgledalo isto.
Link: https://www.magicpattern.design/tools/css-backgrounds?fbclid=IwAR14T88TNFZjsvhiVzKQqyq65nCcxHVe4IqjY26Jru167TFRr8aZLhcv7Qc */
body {
    background-color: #f1b78e;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f1b78e 10px ), repeating-linear-gradient( #fba36555, #fba365 );
}

/* Pomoću ovoga sam uredila horizontalne linije koje se nalaze na mojoj stranici, i imaju svrhu da odvoje cjeline.
Podesila sam joj širini, debljinu, kao i njenu boju, da bih sve to prilagodia izgledu stranice 
Ovaj dizajn linije je isti za svaku stranicu i cjelinu. */
.linija{
    width: 75%;
    border: 1px solid #e0876a;
}

/* Sa ovim sam prilagodila transparentu sliku na stranici, koja se nalazi u navigacijskom meniju.
Smanjila sam joj širini i visinu, kao i vidjljivost, da bude prozirnija. */
#slika {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

/* Navigacijski meni koji je uređen po mom ukusu i prilagođen izgledu stranice.
Izbacila sam ukrase, prilagodila boje, da se prelaskom preko linkova mijenja boja i pozadine i teksta i font slova isti
kao na ostatku stranice. */
.horizontalni_meni {
    padding: 20px;
    margin: 20px;
    background-color: #f4a688;
    list-style-type: none;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
}

.horizontalni_meni a {
    color: white;
    padding: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 70px;
}

.horizontalni_meni a:hover {
    background-color: #fbefcc;
    text-decoration: none;
    color: black;
}

.horizontalni_meni a:active {
    color: #e0876a;
}

.horizontalni_meni a:visited {
    color: black;
}

/* Samo je napravljen okvir za vertikalni meni gdje se nalazi, njegova širina, da nema dekoracije, borderi. Uglavnom
ugrubo sređeni vertikalni meni. */
.vertikalni_meni {
    padding: 20px;
    list-style-type: none;
    background-color: #f4a688;
}

/* Detaljno uređen sadržaj u vertikalnom meniju, od boja, stila, teksta, prelaskom preko linkova mijenja boja i pozadine i teksta
kao i na samoj ostatku starnice. */
.sadrzaj {
    width: 80%;
    padding: 25px;
}

.sadrzaj a {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}

.sadrzaj a:hover {
    background-color: #fbefcc;
    text-decoration: none;
    color: black;
}

.sadrzaj a:visited {
    color: black;
}

.sadrzaj a:active {
    color: #e0876a;
}

/* Klasa u kojoj sam namjestila samo pozadinu, bordere i veličinu tog bordera za jedan red u kojem se nalazi vertikalni meni. */
.meni {
    background-color: #f4a688;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
}

/* Slika aviona koja se također nalazi u vertikalnom meniju, samo prilagođena njena veličina i pozicija. */
#avion {
    margin-right: 30%;
    width: 75%;
}

/* Klasa u kojoj sam bodirala svaki naslov */
.bold {
    font-weight: bold;
}

/* Svaki h1 naslov stavljen da bude italic */
h1 {
    font-style: italic;
}

/* Klasa kao klasa meni, koja mi je potrebna bila da bih za taj dio stranice postavila pozadinu, border i širinu tog bordera. */
.ista {
    background-color: #e0876a;
    border: 2.5px solid #f4a688;
    border-radius: 5px;
}

/* Uređenje tog dijela samo sa tekstom i veličinom teksta. */
.istanbul {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/* Namještena veličina, širina, border i pozicija same slike. */
#slika5 {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    border: 2.5px solid #e0876a;
    margin-top: 15px;
}

/* Ovakve klase koje sadrže i boju pozadine, bordere, njihovu širinu, promjenu teksta i veličinu teksta su isto napravljene i prilagođene izgledu
same stranice. */
.eks {
    background-color: #f4a688;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/* Slike su također rađene na isti način, gdje su se samo mijenjale veličine, širine, boja bordera i njihova pozicija. */
#slika6 {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    border: 2.5px solid #e0876a;
    margin-top: 65px;
}

#slika7 {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    border: 2.5px solid #f4a688;
    margin-top: 70px;
}

.njem {
    background-color: #e0876a;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.hr {
    background-color: #f4a688;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#slika8 {
    width: 70%;
    height: 70%;
    border-radius: 5px;
    border: 2.5px solid #e0876a;
    margin-top: 70px;
    margin-left: 75px;
}

.srb {
    background-color: #e0876a;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#slika9 {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    border: 2.5px solid #f4a688;
    margin-top: 20px;
}

/* Klasa u kojoj sam centrirala tekst koji se nalazi iznad videa. */
.sredina {
    text-align: center;
}

/* Uređenja dijela gdje se nalazi video, postavljena za njega pozadina, borderi i veličina bordera. Također tekst i veličina slova je ista
kao i na ostatku stranice. */
.video {
    background-color: #f4a688;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

/* Podešena njegova širina, visina, pozicija i okvir oko videa. */
video {
    width: 40%;
    height: 40%;
    border: 2.5px solid #e0876a;
    border-radius: 5px;
    margin-left: 30%;
}

/* Footer koji se nalazi u svakoj stranici, napravila sam ga sa jednostavno,
da se prelaskom preko linkova mijenja boja i pozadine i teksta i stavila sam mu isti font slova kao u ostatku stranice. 
Uredila sam ga tako da odgovara izgledu stranice i naravno po mom ukusu. */
.dno_stranice {
    padding: 20px;
    margin: 20px;
    display: block;
    list-style-type: none;
    background-color: #f4a688;
    border-radius: 5px;
    border: 2.5px solid #e0876a
}

.dno_stranice a {
    margin-left: 20%;   
    color: white;
    padding: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.dno_stranice a:hover {
    background-color: #fbefcc;
    text-decoration: none;
    color: black;
}

.dno_stranice a:active {
    color: #e0876a;
}

.dno_stranice a:visited {
    color: black;
}